{% extends "base.html" %} 
{% load static %}
{% block content %}
    <div class="kontinir-about">
        <div class="abawt">
            <h1>ABOUT ME</h1>
            <img src="{% static 'images/profile.jpg' %}">
        </div>
        <div class="abowt">
            <p>Hello! I am a passionate third-year student pursuing a Bachelor's degree in Information Technology. <br> With a fervent dedication to this field, I'm determined to excel as a web programmer and carve my niche among the best. <br> While I'm still in the process of fully immersing myself in programming, <br> I approach every challenge with a thirst for knowledge and a commitment to continuous improvement. <br> Join me on this journey as I strive to reach the pinnacle of my capabilities and make a mark in the world of technology. </p>
        </div>
        
    </div>
{% endblock content %}