{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="kontinir">

    <div class="hobbies">
        <h1>HOBBIES</h1>
        <img src="{% static 'images/profile.jpg' %}">
    </div>

    <div class="qoute">
        <h2>Hi! I am Raven Salvatierra and here are my hobbies</h2>
        <br>
        <ul class="habis">
        <li>Studying</li>
        <li>Web Designing</li>
        <li>Back-end Programmer</li>
        <li>Gaming</li>
        </ul>
    </div>
</div>
{% endblock content %}